.button {
    min-width: 170px;
    height: 55px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 26px;
    background-color: $blue;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.active,
    &:hover {
        background-color: #4ea7d5;
    }

    &.green {
        background-color: $green;
            &.active,
            &:hover {
                background-color: #53deac;
            }
    }

    &.pink {
        background-color: $pink;
        &.active,
        &:hover {
            background-color: #f48988;
        }
    }

    &.current {
        background-color: rgba(0,0,0,.6);
        &.active,
        &:hover {
           background-color: $blue;
        }
    }


    @media (max-width: 1500px) {
        width: 160px;
        height: 50px;
        line-height: 53px;
    }
    @media (max-width: 700px) {
        width: 120px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  peru;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 23px 20px;
         -o-background-size: 23px 20px;
            background-size: 23px 20px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}