.offer {
    height: 460px;
    position: relative;
    padding-left: 70px;
    @media (max-width: 1000px) {
        padding-left: 0;
    }
    &--slider {
        height: 100%;
        max-height: 1000px;
        min-height: 600px;
        @media (max-width: 1000px) {
            height: auto;
            min-height: 0;
        }
    }
    &__controls {
        margin-top: 45px;
    }
    
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    .wrapper {
        @include flex($direction: column, $alignI: flex-start, $justify: center);
        text-align: left;
        height: 100%;
        width: 100%;
        padding: 0 70px 0 0;
    }
    
    &__info {
        position: relative;
        z-index: 10;
        height: 100%;
        background-color: rgba(255,255,255,.95);
        width: 560px;
        padding-top: 55px;
        margin: 0;
        font-size: 17px;
        color: #2d2d2d;
        font-family: $gp;
        margin-left: 20px;
        @include flex($direction: column, $alignI: center, $justify: space-between, $wrap: nowrap);
        @media (max-width: 1500px) {
            padding-top: 30px;
            font-size: 15px;
        }
        @media (max-width: 1000px) {
            margin: 0 auto;
            overflow: scroll;
            padding-top: 20px;
            background-color: rgba(255,255,255,.9);
            width: 450px;
            max-width: 100%;
        }
        &__text {
            padding: 0 55px;
            @media (max-width: 1500px) {
                padding: 0 40px;
            }
            @media (max-width: 1000px) {
                padding: 10px 20px;
            }
            p {
                margin-bottom: 25px;
                @media (max-width: 1500px) {
                    margin-bottom: 15px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul {
            margin-top: 45px;
            margin-bottom: 40px;
            @media (max-width: 1500px) {
                margin-top: 20px;
                margin-bottom: 15px;
            }
            li {
                color: #565656;
                font-size: 15px;
                @media (max-width: 1500px) {
                    font-size: 13px;
                    margin-bottom: 2px !important;
                }
            }
        }
        .logo {
            padding-left: 55px;
            img {
                width: 220px;
            }
            @media (max-width: 1500px) {
                padding-left: 40px;
                margin-bottom: 20px;
            }
            @media (max-width: 1000px) {
                padding: 0;
                margin-bottom: 10px;
            }
        }
        hr {
            border: none;
            border-top: 1px solid #DDD;
        }
        .button {
            display: block;
            margin: 40px 0 0;
            @media (max-width: 1500px) {
                margin-top: 15px;
            }
        }
    }
    .button {
        display: inline-block;
        margin-right: 20px;
    }
}


.offer__slider {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #3D8EB9;

    .slick-track,
    .slick-list {
        height: 100%;
    }
    .slide {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
}


.slider-nav {
    width: 100%;
    padding: 10px;
    -webkit-box-shadow:0 -8px 8px rgba(226, 226, 226, 0.69);
            box-shadow:0 -8px 8px rgba(226, 226, 226, 0.69);
    @media (max-width: 1500px) {
        padding: 6px;
    }
    .slick-slide {
        padding: 10px;
        @media (max-width: 1500px) {
        padding: 6px;
    }
        img {
            display: block;
            width: 100%;
        }
        &.slick-current {
            img {
                border: 4px solid #FF6766;
            }
        }
    }
}