.partners-nav {
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    @include flex($justify: space-around, $wrap: wrap);
    background: #FFF;
    @media (max-width: 760px) {
        display: block;
        padding: 10px;
        column-count: 2;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        font-size: 17px;
        color: #222222;
        @media (max-width: 1500px) {
            font-size: 14px;
        }
        @media (max-width: 760px) {
            display: block;
            font-size: 12px;
            text-align: left;
        }
        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            height: 20px;
            width: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            position: relative;
            @media (max-width: 1500px) {
                margin-right: 6px;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 12px;
                width: 12px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }
        }
        span {
            display: inline-block;
            vertical-align: middle;
            @media (max-width: 760px) {
                display: inline;
            }
        }
    }
}

.partners {
    margin: 90px auto;
    width: 1034px;
    max-width: 90%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url(../images/partners-scheme.png);
    -webkit-background-size: 100% auto;
         -o-background-size: 100% auto;
            background-size: 100% auto;
    @media (max-width: 760px) {
        background: none;
        max-width: 100%;
        padding: 40px;
        margin: 0;
    }
}

.yellow {
    i {
        &:before {
            background-color: #febf5c;
        }
    }
}
.green-light {
    i {
        &:before {
            background-color: #70c274;
        }
    }
}
.brown {
    i {
        &:before {
            background-color: #98776e;
        }
    }
}
.blue {
    i {
        &:before {
            background-color: #3c9bcc;
        }
    }
}
.violet {
    i {
        &:before {
            background-color: #aa6ce3;
        }
    }
}
.red {
    i {
        &:before {
            background-color: #ff6766;
        }
    }
}
.green-pale {
    i {
        &:before {
            background-color: #58c1ba;
        }
    }
}
.orange {
    i {
        &:before {
            background-color: #ff9974;
        }
    }
}

.partners {
    position: relative;
    > div {
        &.accent {
            opacity: 1!important;
        }
    }
    @media (max-width: 760px) {
        div {
            text-align: center;
            margin-bottom: 30px;
            position: relative;
        }
    }
    a {
        position: absolute;
        display: block;
        z-index: 1;
        @media (max-width: 760px) {
            position: static;
            margin: 10px 4px;
            display: inline-block;
            vertical-align: middle;
        }
        &:hover {
            & + i {
                opacity: 1;
            }
        }
        img {
            display: block;
            position: relative;
            @media (max-width: 1100px) {
                margin-top: -4px;
                left: -4px;
                -webkit-transform: scale(.8);
                   -moz-transform: scale(.8);
                    -ms-transform: scale(.8);
                     -o-transform: scale(.8);
                        transform: scale(.8);
            }
            @media (max-width: 800px) {
                margin-top: -6px;
                left: -7px;
                -webkit-transform: scale(.7);
                   -moz-transform: scale(.7);
                    -ms-transform: scale(.7);
                     -o-transform: scale(.7);
                        transform: scale(.7);
            }
            @media (max-width: 760px) {
                -webkit-transform: none;
                   -moz-transform: none;
                    -ms-transform: none;
                     -o-transform: none;
                        transform: none;
                position: static;
            }
        }
        + i {
            position: absolute;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            height: 13px;
            width: 13px;
            background-color: #ffffff;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            -webkit-transition: all .6s;
               -moz-transition: all .6s;
                -ms-transition: all .6s;
                 -o-transition: all .6s;
                    transition: all .6s;
            opacity: 0;
            @media (max-width: 1100px) {
                width: 10px;
                height: 10px;
            }
            @media (max-width: 800px) {
                width: 9px;
                height: 9px;
            }
            @media (max-width: 760px) {
                display: none;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                height: 100%;
                width: 100%;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }
        }
        &.active + i {
            -webkit-animation: light 2s;
               -moz-animation: light 2s;
                 -o-animation: light 2s;
                    animation: light 2s;
        }
        &:first-of-type {
            & + i {
                @media (max-width: 760px) {
                    display: block;
                    left: -24px !important;
                    top: 0 !important;
                    bottom: 0 !important;
                    margin: auto;
                    width: 14px;
                    height: 14px;
                    opacity: 1!important;
                    -webkit-animation: none !important;
                       -moz-animation: none !important;
                         -o-animation: none !important;
                            animation: none !important;
                }
            }
        }
    }
    &:after {
        content: "";
        display: block;
        padding-top: 66%;
        @media (max-width: 760px) {
            display: none;
        }
    }
}

@keyframes light {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.partners-list-1 {
    a:nth-of-type(1) {
        left: 32%;
        top: 20%;
        & + i {
            left: 40.6%;
            top: 21.62%;
        }
    }
    a:nth-of-type(2) {
        left: 27%;
        top: 9%;
        & + i {
            left: 40.6%;
            top: 12%;
        }
    }
    a:nth-of-type(3) {
        left: 56%;
        top: 3.5%;
        & + i {
            left: 53.3%;
            top: 5.4%;
        }
    }
    a:nth-of-type(4) {
        left: 56%;
        top: 13%;
        & + i {
            left: 53.3%;
            top: 15.02%;
        }
    }
    a:nth-of-type(5) {
        left: 56%;
        top: 23%;
        & + i {
            left: 53.3%;
            top: 24.6%;
        }
    }
}

.partners-list-2 {
    a:nth-of-type(1) {
        left: 73%;
        top: 37%;
        & + i {
               left: 70%;
    top: 39%;
        }
    }
    a:nth-of-type(2) {
        left: 77%;
        top: 32.5%;
        & + i {
            left: 74.35%;
    top: 32.4%;
        }
    }
    a:nth-of-type(3) {
        left: 81.5%;
        top: 24.5%;
        & + i {
                left: 78.7%;
    top: 25.6%;
        }
    }
    a:nth-of-type(4) {
        left: 86%;
        top: 18%;
        & + i {
            left: 83.5%;
    top: 18.5%;
        }
    }
    a:nth-of-type(5) {
        left: 90.5%;
        top: 10.5%;
        & + i {
            left: 88.05%;
            top: 11.4%;
        }
    }
    a:nth-of-type(6) {
        left: 95.5%;
        top: 4%;
        & + i {
            left: 92.6%;
    top: 4.4%;
        }
    }
}


.partners-list-3 {
    a:nth-of-type(1) {
        left: 70.5%;
        top: 49%;
        & + i {
            left: 72.3%;
            top: 55.4%;
        }
    }
    a:nth-of-type(2) {
        left: 77.5%;
        top: 47.5%;
        & + i {
            left: 79.1%;
            top: 55.4%;
        }
    }
    a:nth-of-type(3) {
        left: 84.5%;
        top: 48%;
        & + i {
            left: 85.8%;
            top: 55.4%;
        }
    }
    a:nth-of-type(4) {
        left: 91%;
        top: 49.4%;
        & + i {
           left: 92.7%;
            top: 55.4%;
        }
    }
}


.partners-list-4 {
    a:nth-of-type(1) {
        left: 66.5%;
        top: 69.5%;
        & + i {
            left: 67.7%;
            top: 75.7%;
        }
    }
    a:nth-of-type(2) {
        left: 72.7%;
        top: 69%;
        & + i {
            left: 74.4%;
            top: 75.7%;
        }
    }
    a:nth-of-type(3) {
        left: 79.5%;
        top: 70%;
        & + i {
            left: 81.2%;
            top: 75.7%;
        }
    }
}

.partners-list-5 {
    a:nth-of-type(1) {
        left: 50.5%;
        top: 94%;
        & + i {
            left: 47.03%;
            top: 97.2%;
        }
    }
}

.partners-list-6 {
    a:nth-of-type(1) {
        left: 24%;
        top: 69.5%;
        & + i {
            left: 26.2%;
            top: 75.6%;
        }
    }
    a:nth-of-type(2) {
        left: 17.5%;
        top: 69.5%;
        & + i {
            left: 19.3%;
            top: 75.6%;
        }
    }
    a:nth-of-type(3) {
        left: 11.5%;
        top: 69.5%;
        & + i {
            left: 12.6%;
            top: 75.6%;
        }
    }
}

.partners-list-7 {
    a:nth-of-type(1) {
        left: 19%;
        top: 49%;
        & + i {
            left: 21.7%;
            top: 55.4%;
        }
    }
    a:nth-of-type(2) {
        left: 12%;
        top: 49%;
        & + i {
            left: 14.9%;
            top: 55.4%;
        }
    }
    a:nth-of-type(3) {
        left: 5%;
        top: 49%;
        & + i {
            left: 8.2%;
            top: 55.4%;
        }
    }
    a:nth-of-type(4) {
        left: -2%;
        top: 49%;
        & + i {
            left: 1.3%;
            top: 55.4%;
        }
    }
}

.partners-list-8 {
    a:nth-of-type(1) {
        left: 17%;
        top: 38%;
        & + i {
            left: 24%;
            top: 39%;
        }
    }
    a:nth-of-type(2) {
        left: 10%;
        top: 31%;
        & + i {
            left: 19.2%;
            top: 31.4%;
        }
    }
    a:nth-of-type(3) {
        left: 8%;
        top: 22%;
        & + i {
            left: 14.3%;
            top: 23.6%;
        }
    }
    a:nth-of-type(4) {
        left: 3%;
        top: 12%;
        & + i {
            left: 8.6%;
            top: 15.4%;
        }
    }
}