
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: $gp;
  font-size: 15px;
  line-height: 22px;
  color: $text;
  padding-right: 90px;
  background-color: #F9F9F9;
  @media (max-width: 1500px) {
    padding-right: 70px;
  }
}

h1 {
  font-size: 80px;
  font-weight: 500;
  color: #FFF;
  border-bottom: 1px solid rgba(255,255,255,.2);
  width: 100%;
  line-height: normal;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 40px;
  color: #FFF;
  font-size: 17px;
  width: 600px;
  max-width: 100%;
}

.list {
  display: block;
  font-weight: 500;
  font-style: italic;

  li {
    list-style: none;
    padding-left: 25px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &:before {
      content: '';
      width: 18px;
      height: 18px;
      background-position: 50% 50%;
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 11px;
      left: 0;
      margin-top: -10px;
    }
  }

  &--green li:before {
    background-image: url(../images/list-green.svg);
  }
  &--blue li:before {
    background-image: url(../images/list-blue.svg);
  }
  &--pink li:before {
    background-image: url(../images/list-pink.svg);
  }
}


.blackquote {
  font-family: $g;
  font-style: italic;
  color: #fff;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-size: 26px;
  padding: 95px 0;

  &--pink {
    background-color: $pink;
  }
  &--blue {
    background-color: $blue;
  }
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

section.inner {
  padding: 70px 60px;

  @media (max-width: 1700px) {
    padding: 50px;
  }

  @media (max-width: 1500px) {
    padding: 30px;
  }
}


.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -15px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
[class*='col-'] {
    padding: 0 15px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}