// COLORS
// ---------------------------
$text: #565656;

// FONTS
// ---------------------------
$g:                     'Georgia';
$gvp:                   'Good Vibes Pro';
$gp:                    'GoodPro';


// RESPONSIVE
// ---------------------------
