// COLORS
// ---------------------------
$text:                      #565656;
$blue:                      #2886B7;
$green:                     #2CC990;
$pink:                      #FF6766;

// FONTS
// ---------------------------
$g:                     'Georgia';
$gp:                    'GoodPro';


// RESPONSIVE
// ---------------------------
